body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  width: 100%;
}

.list-items-wrapper  {
  color: #ffffff;
  background-color: #293449;
  font-family: "Cuprum", "Arial", sans-serif;
}

.logo {
  background-color: #ee3643;
  width: 109px;
  height: 19px;
  padding: 13px 56px 15px 55px;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

input {
  background: transparent;
  border: none;
}

.search {
  background-color: #293449;
}

.search:hover {
  background-color: #212a3a;
}

.search:active {
  background-color: #293449;
}

form input:focus {
  color: #000000;
  background-color: #ffffff;

}

.list-item-add {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.list-item-add:hover {
  background-color: #212a3a;
}

.list-item-add:active {
  color: #8b8e94;
  background-color: #161d29;
}

.list-item-add-cart:active {
  color: #8b8e94;
  background-color: #161d29;
}

.list-item-add.active {
  background-color: #ee3643;
  padding: 14px 26px 13px 50px;
}

.list-item-button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  background-color: #63a63e;
  padding: 14px 22px 13px 20px;
}

.list-item-button:hover {
  background-color: #5fbb2d;
}

.list-item-button:active {
  background-color: #518534;
}

.text-wrapper {
  background-color: #f3f7f8;
}

.heading-index {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about {
  font-size: 13px;
  line-height: 24px;
}

.about-business {
  font-size: 13px;
  line-height: 24px;
}

.list-about {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.button-index {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
}

.button-index:hover {
  background-color: #ca2c37;
}

.button-index:active {
  background-color: #ba2732;
}

.caption {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.phone {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
}

.address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.login-link {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
}

.login-link:hover {
  color: #ee3643;
}

.login-link:active {
  color: #c5c5c5;
}

.personal-link {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
}

.personal-link:active {
  color: #c5c5c5;
}

.information-link {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.information-link:hover {
  color: #ee3643;
}

.information-link:active {
  color: #c5c5c5;
}

.list-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  list-style: none;
  text-decoration: none;
}

.list-items li a:hover:not(:last-child) {
  background-color: #293449;
}

.list-items li a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.list-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.list-navigation li {
  list-style: none;
}

.list-navigation li a:hover {
  background-color: #293449;
}

.list-navigation li a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.items a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.items li {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
}

.title {
  color: #32425c;
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
}

.headline {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-option li {
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.btn {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.list-items a {
  color: #ffffff;
  text-decoration: none;
}

.list-items li {
  list-style: none;
}

.list-items-footer a {
  color: #f1f5f7;
  text-decoration: none;
}

.list-items-footer li {
  list-style: none;
}

.list-items-footer li a:hover {
  text-decoration: underline;
}

.list-items-footer li a:active {
  opacity: 0.5;
  color: #f1f5f7
}

.social-items a {
  color: #ffffff;
  text-decoration: none;
}

.social-items li {
  list-style: none;
}

.social-items li a:hover {
  background-color: #ee3643;
}

.perforator-items a {
  text-decoration: none;
}

.perforator-items li {
  list-style: none;
}

.heading {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.price {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  font-weight: bold;
  color: #999999;
}

.sale {
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  background-color: #ee3643;
}

.sale a {
  color: #ffffff;
}

.buy {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63a63e;
}

.buy a:hover {
  background-color: #5fbb2d;
}

.buy a:active {
  background-color: #518534;
}

.marker {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
}

.marker a:active {
  opacity: 0.5;
}

.list li {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.list li a:active {
  background-color: #ee3643;
}

.first-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
  text-decoration: none;
}

.address-footer {
  color: #f3f7f9;
}

.special a {
  color: #ffd180;
  text-decoration: none;
}

.special li {
  list-style: none;
}

.special li a:hover {
  text-decoration: underline;
}

.special li a:active {
  opacity: 0.5;
  color: #ffd180;
}

.special-address a {
  color: #ffd180;
  text-decoration: none;
}

.special-address li {
  list-style: none;
}

.special-address a:hover {
  text-decoration: underline;
}

.special-address a:active {
  color: #ee3643;
}

.special-mail a {
  color: #ffd180;
  text-decoration: none;
}

.special-mail li {
  list-style: none;
}

.special-mail a:hover {
  text-decoration: underline;
}

.special-mail a:active {
  color: #ee3643;
}

.second-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.write-to-us {
  display: none;
}

.add-to-cart {
  display: none;
}

/* Сеточные стили */

.main-header {
  margin-bottom: 59px;
}

.container {
  margin: 0 auto;
  width: 940px;
  padding: 0 10px;
}

.list-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.middle-header {
  display: flex;
  justify-content: space-around;
}

.caption {
  display: flex;
  flex-direction: column;
  margin-top: 46px;
}

.phone {
  padding: 13px 52px 11px 54px;
  margin-top: 46px;
  margin-bottom: 10px
}

.address {
  display: flex;
}

.login-link {
  display: flex;
  align-items: center;
  padding: 14px 25px 11px 25px;
}

.personal-link {
  display: flex;
  align-items: center;
  padding: 14px 69px 11px 47px;
  margin-bottom: 10px;
  margin-top: 46px;
  }

.information-link {
  padding-right: 32px;
}

.text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.list-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 22px 0 23px;
  width: 100%;
}

.navigation-cards {
  display: flex;
}

.background-orange {
  background-image: url("img/background-orange.png");
  width: 300px;
  height: 123px;
}

.background-blue {
  background-image: url("img/background-blue.png");
  width: 300px;
  height: 123px;
}

.background-purple {
  background-image: url("img/background-purple.png");
  width: 300px;
  height: 123px;
}

.background-green {
  background-image: url("img/background-green.png");
  width: 300px;
  height: 123px;
}

.index-about {
  display: flex;
  justify-content: space-between;
  padding-top: 82px;
  padding-bottom: 86px;
  align-items: baseline;
}

.about-business {
  padding-right: 120px;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
}

.lines {
  margin-bottom: 23px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
}

.list-about {
  margin-bottom: 37px;
}

.button-index {
  padding: 14px 40px 12px 41px;
}

.map {
  margin-top: 36px;
  margin-bottom: 40px;
}

.items {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.title {
  display: flex;
  padding-top: 32px;
  padding-bottom: 34px;
}

.catalog-section {
  display: flex;
}

.filter-section {
  display: flex;
}

.shopping-section {
  display: flex;
}

.filter-option {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10px;
}

.filter-name {
  padding-bottom: 17px;
}

.btn {
  display: flex;
  margin-top: 83px;
  border: 1px solid #e5e5e5;
  padding: 15px 39px 14px 39px;
}

.perforator-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.perforator-item {
  border: 1px solid #e5e5e5;
  margin-bottom: 21px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-sale {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  margin-bottom: 13px;
}

.sale {
  padding: 13px 40px 13px 36px;
  margin-bottom: 21px;
}

.list {
  display: flex;
  justify-content: space-between;
  margin-left: 240px;
  margin-bottom: 60px;
  margin-top: 52px;
}

.list-group a {
  color: #000000;
}

.list-group a {
  border: 1px solid #e5e5e5;
  padding: 14px 15px 15px 16px;
}

.list-group:hover a {
  border: 1px solid #bdc6ca;
}

.list-group:active a {
  border: 1px solid #ee3643;
}

.list-group.active {
  background-color: #ee3643;
}

/*
.buy {
  padding: 14px 45px 14px 49px;
}

.marker {
  padding: 11px 29px 9px 33px;
  border: 3px solid #63a63e;
}
*/
.first-footer {
  margin: 0;
  padding: 0;
}

.first-footer-container {
  display: flex;
}

.first-footer-info {
  display: flex;
  flex-direction: column;
}

.first-footer-navigation {
  display: flex;
  flex-direction: column;
}

.list-items-footer {
  display: flex;
  justify-content: space-between;
}

.special {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.second-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copyright {
  display: flex;
  flex-direction: column;
}

.social-items {
  display: flex;
}

.special-mail {
  display: flex;
  flex-direction: column;
}

.special-address {
  display: flex;
  flex-direction: column;
}
