body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  color: #ffffff;
  background-color: #293449;
  font-family: "Cuprum", "Arial", sans-serif;
}

.logo {
  background-color: #ee3643;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.search {
  background-color: #293449;
}

.search:hover {
  background-color: #212a3a;
}

.search:active {
  background-color: #293449;
}

form input:focus {
  color: #000000;
  background-color: #ffffff;
}

.marker-navigation:hover {
  background-color: #212a3a;
}

.marker-navigation:active {
  color: #8b8e94;
  background-color: #161d29;
}

.cart-navigation:hover {
  background-color: #212a3a;
}

.cart-navigation:active {
  color: #8b8e94;
  background-color: #161d29;
}

.site-navigation .button {
  background-color: #63a63e;
}

.site-navigation .button:hover {
  background-color: #5fbb2d;
}

.site-navigation .button:active {
  background-color: #518534;
}

.text {
  background-color: #f3f7f8;
}

.heading-index {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about {
  font-size: 13px;
  line-height: 24px;
}

.list-about {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.button-index {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-decoration: none;
}

.button-index:hover {
  background-color: #ca2c37;
}

.button-index:active {
  background-color: #ba2732;
}

.caption {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.phone {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.login-link {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
}

.login-link:hover {
  color: #ee3643;
}

.login-link:active {
  color: #c5c5c5;
}

.personal-link {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
}

.personal-link:active {
  color: #c5c5c5;
}

.information-link {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.information-link:hover {
  color: #ee3643;
}

.information-link:active {
  color: #c5c5c5;
}

.navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  list-style: none;
  text-decoration: none;
}

.list-items li a:hover:not(:last-child) {
  background-color: #293449;
}

.list-items li a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.list-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.list-navigation li {
  list-style: none;
}

.list-navigation li a:hover {
  background-color: #293449;
}

.list-navigation li a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.items a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.items li {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
}

.title {
  color: #32425c;
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
}

.headline {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-option li {
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.btn {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.list-items a {
  color: #ffffff;
  text-decoration: none;
}

.list-items li {
  list-style: none;
}

.list-items-footer a {
  color: #f1f5f7;
  text-decoration: none;
}

.list-items-footer li {
  list-style: none;
}

.list-items-footer li a:hover {
  text-decoration: underline;
}

.list-items-footer li a:active {
  opacity: 0.5;
  color: #f1f5f7
}

.social-items a {
  color: #ffffff;
  text-decoration: none;
}

.social-items li {
  list-style: none;
}

.social-items li a:hover {
  background-color: #ee3643;
}

.perforator-items a {
  color: #ffffff;
  text-decoration: none;
}

.perforator-items li {
  list-style: none;
}

.heading {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.price {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  font-weight: bold;
  color: #999999;
}

.sale {
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  background-color: #ee3643;
}

.buy {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63a63e;
}

.buy:hover {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
}

.marker {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #32425c;
}

.marker:active {
  color:#32425c;
}

.list li {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.list:active {
  background-color: #ee3643;
}

.first-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
  text-decoration: none;
}

.address-footer {
  color: #f3f7f9;
}

.special a {
  color: #ffd180;
  text-decoration: none;
}

.special li {
  list-style: none;
}

.special li a:hover {
  text-decoration: underline;
}

.special li a:active {
  opacity: 0.5;
  color: #ffd180;
}

.special-address a {
  color: #ffd180;
  text-decoration: none;
}

.special-address li {
  list-style: none;
}

.special-address:hover a {
  text-decoration: underline;
}

.special-address:active a {
  color: #ee3643;
}

.second-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.write-to-us {
  display: none;
}

.add-to-cart {
  display: none;
}
