body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  width: 100%;
}

.img {
  max-width: 100%;
  height: auto;
}

/*Шапка*/

.list-items-wrapper {
  color: #ffffff;
  background-color: #293449;
  font-family: "Cuprum", "Arial", sans-serif;
}

.container {
  margin: 0 auto;
  width: 940px;
  padding: 0 10px;
}

.list-items {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 42px;
  margin: 0 auto;
  padding: 0;
}

.list-items a {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.list-items:hover:not(:last-child) {
  background-color: #293449;
}

.list-items:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.header-logo {
  position: absolute;
  top: -4px;
  left: 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ee3643;
  width: 220px;
  height: 52px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.logo {
  width: 109px;
  height: 19px;
}

.header-search {
  position: relative;
  margin-left: 220px;
  display: flex;
}

.search {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #293449;
  padding: 12px 10px 12px 49px;
  border: none;
  outline: none;
  width: 270px;
}

.search::placeholder {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

/* Edge (also supports ::-webkit-input-placeholder) */
.search::-ms-input-placeholder {
    color: #ffffff;
}

.search:hover {
  background-color: #212a3a;
}

.search:focus {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.search:focus ~ .search-icon {
  fill: #ee3643;
}

.search-icon {
  position: absolute;
  top: 13px;
  left: 15px;
  z-index: 1;
  opacity: 0.3;
  fill: #ffffff;
}

.search:hover + .search-icon,
.search:focus + .search-icon {
  opacity: 1;
}

.list-item-add-marker {
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  padding: 12px 24px 12px 44px;
  display: flex;
  align-items: center;
}

.list-item-add-marker:hover {
  background-color: #212a3a;
}

.list-item-add-marker:active {
  color: #8b8e94;
  background-color: #161d29;
}

.list-item-add-marker::before {
  content: "";
  position: absolute;
  left: 16px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icons-svg/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.list-item-add-marker:hover::before {
  opacity: 1;
}

.list-item-add-marker:focus::before {
  opacity: 0.5;
}

.list-item-add-cart {
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  padding: 12px 28px 12px 50px;
}

.list-item-add-cart:hover {
  background-color: #212a3a;
}

.list-item-add-cart:active {
  color: #8b8e94;
  background-color: #161d29;
}

.list-item-add-cart.active {
  background-color: #ee3643;
}

.list-item-add-cart::before {
  content: "";
  position: absolute;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icons-svg/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.list-item-add-cart:hover::before {
  opacity: 1;
}

.list-item-add-cart:focus::before {
  opacity: 0.5;
}

.list-item-button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  background-color: #63a63e;
  display: flex;
  align-items: center;
  padding: 12px 22px;
}

.list-item-button:hover {
  background-color: #5fbb2d;
}

.list-item-button:active {
  background-color: #518534;
}

.text-wrapper {
  background-color: #f3f7f8;
  display: flex;
  flex-direction: column;
  margin-bottom: 59px;
}

.middle-header {
  display: flex;
  margin-top: 44px;
  margin-bottom: 24px;
}

.caption {
  color: #ee3643;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 52px;
  width: 196px;
}

.phone-address {
  display: flex;
  flex-direction: column;
  margin-left: 72px;
}

.phone {
  position: relative;
  display: flex;
  text-decoration: none;
  color: #ee3643;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  padding: 11px 53px 12px 71px;
}

.phone::before {
  content: "";
  position: absolute;
  left: 13px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icons-svg/icon-phone.svg");
  background-repeat: no-repeat;
}

.address {
  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  margin-top: 2px;
  padding-left: 10px;
}

.user-navigation-index {
  position: relative;
  margin-left: auto;
  display: flex;
  align-self: baseline;
}

.login-link {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  padding: 13px 25px 17px 25px;
  margin-left: 10px;
}

.login-link:hover {
  color: #ee3643;
}

.login-link:active {
  color: #c5c5c5;
}

.login-link-enter {
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  padding: 14px 25px 15px 48px;
}

.login-link-enter:hover {
  color: #ee3643;
}

.login-link-enter:active {
  color: #c5c5c5;
}

.login-icon {
  position: absolute;
  top: 15px;
  left: 16px;
}

.login-icon:hover path {
  fill: #32425c;
}

.user-navigation-inner {
  position: relative;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-self: baseline;
}

.personal-link {
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 13px 69px 11px 47px;
}

.personal-link:focus {
  opacity: 0.3;
}

.personal-icon {
  position: absolute;
  top: 13px;
  left: 13px;
}

.personal-icon-out {
  position: absolute;
  top: 14px;
  right: 10px;
}

.personal-icon:hover path {
  fill: #32425c;
}

.personal-icon-out:hover path {
  fill: #32425c;
}

.user-navigation-dop {
  margin-left: 20px;
  margin-top: 8px;
}

.information-link {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  padding-right: 32px;
}

.information-link:hover {
  color: #ee3643;
}

.information-link:active {
  color: #c5c5c5;
}

.list-navigation {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  min-height: 60px;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.list-navigation a {
  color: #ffffff;
  text-decoration: none;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-navigation li {
  list-style: none;
}

.list-navigation a:hover {
  background-color: #293449;
}

.list-navigation a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

/*Главная страница*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.navigation-cards {
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.title-button {
  margin-bottom: 22px;
}

.navigation-cards-title {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
  margin-left: 23px;
  margin-bottom: 11px;
}

.navigation-cards-button {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, .1);
  padding: 10px 0 10px;
  margin-left: 25px;
  width: 135px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-radius: 3px;
}

.navigation-cards-button:hover {
  background-color: rgba(0, 0, 0, .2);
}

.navigation-cards-button:focus {
  background-color: rgba(0, 0, 0, .3);
}

.navigation-cards-image {
  display: flex;
  align-self: center;
  margin: auto;
}

.background-orange-material {
  position: relative;
  background-color: #ffbf47;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
}

.new-flag::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
}

.background-blue {
  position: relative;
  background-color: #3bbce3;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
}

.background-purple {
  position: relative;
  background-color: #dc91d8;
  display: flex;
  margin-bottom: 20px;
}

.background-green {
  position: relative;
  background-color: #8ed78f;
  display: flex;
  margin-bottom: 20px;
}

.background-orange-delivery {
  position: relative;
  background-color: #ffbf47;
  display: flex;
}

.slider-main {
  display: flex;
  position: relative;
}

.main-image-first {
  position: relative;
  background-image: url("../img/main-image.jpg");
  background-color: #000000;
  width: 595px;
  display: flex;
  margin-right: 20px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
}

.main-image-second {
  position: relative;
  background-image: url("../img/slide-image.png");
  background-color: #000000;
  width: 595px;
  display: flex;
  margin-right: 20px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  display: none;
}

.navigation-card-title {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 0;
}

.button-radio-section {
  display: flex;
  position: relative;
}

.navigation-card-button {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  padding: 14px 45px 14px 49px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 100px;
  border-radius: 3px;
}

.navigation-card-button:hover {
  background-color: #ca2c37;
}

.navigation-card-button:focus {
  background-color: #ba2732;
}

.navigation-card-lead {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-size: 18px;
  margin-top: 0px;
}

.slider-button-back {
  background-image: url("../img/icons-svg/icon-left.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 113px;
  width: 22px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
}

.slider-button-next {
  background-image: url("../img/icons-svg/icon-right.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 113px;
  right: 20px;
  width: 22px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
}

.radio-buttons-section {
  display: flex;
  position: relative;
  top: 100px;
  left: 60px;
}

.radio-slider {
	opacity: 0;
}

.radio-buttons {
  display: inline;
}

.radio-buttons-label {
	position: relative;
	padding-left: 10px;
}

.radio-buttons-label:before {
  content: "";
	position: absolute;
	left: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #ffffff;
}

.radio-slider:checked ~ .radio-buttons-label:after {
  content: "";
	position: absolute;
	left: 2px;
	top: -2px;
	width: 6px;
	height: 6px;
	background-color: #ee3643;
	border-radius: 50%;
}

.title-wrapper {
  background-color: #f9f5f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 54px;
  padding-left: 28px;
}

.title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  display: flex;
}

.button-index-popular {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 55px;
  margin-right: 24px;
  border-radius: 3px;
}

.button-index-popular:active {
  background-color: #ba2732;
}

.button-index-popular:hover {
  background-color: #ca2c37;
}

.button-index-brands {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 70px;
  text-align: center;
  margin-right: 24px;
  border-radius: 3px;
}

.button-index-brands:active {
  background-color: #ba2732;
}

.button-index-brands:hover {
  background-color: #ca2c37;
}

.catalog-section {
  display: flex;
}

.perforator-items-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  padding: 0;
  width: 940px;
}

.perforator-items-index a {
  text-decoration: none;
}

.perforator-items-index li {
  list-style: none;
}

.perforator-item-index {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  margin-top: 20px;
  position: relative;
  width: 218px;
  padding-bottom: 21px;
}

.perforator-item-index:hover .perforator-item-img {
  opacity: 0;
}

.perforator-item-index:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.perforator-item-index:hover .buy-marker {
  display: flex;
}

.perforator-item-index:last-child {
  margin-right: 0;
}

.buy-marker {
  position: absolute;
  display: none;
  background: #ffffff;
  flex-direction: column;
  width: 135px;
  top: 44px;
  left: 42px;
}

.buy {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63a63e;
  padding: 10px 45px 10px 49px;
  margin-bottom: 7px;
  box-shadow: inset 0px -3px 0 0 #367315;
  border-radius: 3px;
}

.buy::before {
  content: "";
  position: absolute;
  left: 13px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icons-svg/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.buy:hover::before {
  opacity: 1;
}

.buy:focus::before {
  opacity: 1;
}

.buy:hover {
  background-color: #5fbb2d;
}

.buy:focus {
  background-color: #518534;
}

.marker {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
  border: 3px solid #63a63e;
  padding: 9px 29px 7px 30px;
  border-radius: 3px;
}

.marker:hover {
  border: 3px solid #32425c;
}

.marker:focus {
  opacity: 0.3;
  border: 3px solid #32425c;
}

.perforator-heading {
  margin: 0;
}

.heading {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.price {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  font-weight: bold;
  color: #999999;
  margin-top: 10px;
  margin-bottom: 13px;
}

.sale {
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  width: 141px;
  height: 38px;
  background-color: #ee3643;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.sale a {
  color: #ffffff;
}

.sale::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.title-wrapper-brands {
  background-color: #f9f5f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding-left: 28px;
}

.popular-brands {
  display: flex;
  margin-top: 5px;
}

.brands-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.brand-item {
  display: flex;
  border: 1px solid #eaeaea;
  list-style: none;
  align-items: center;
  width: 220px;
  height: 145px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.brand-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-item:focus {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.services-about {
  display: flex;
  flex-direction: column;
  background-color: #f4f7f9;
  margin-top: 85px;
  padding-bottom: 80px;
  margin-bottom: 45px;
}

.heading-index {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.services-cards {
  display: flex;
  position: relative;
}

.services-buttons {
  display: flex;
  flex-direction: column;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  padding: 0;
  margin-top: 57px;
}

.services-button {
  padding: 16px 140px 16px 22px;
  list-style: none;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.services-button:hover {
  background-color: #293449;
}

.services-button.active {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
}

.slide-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  margin-top: 53px;
  margin-bottom: 27px;
}

.slide-paragraph {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 12px;
}

.delivery-paragraph {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 80px;
  width: 100%;
}

.delivery-paragraph::after {
  content: "";
  position: absolute;
  right: 0;
  top: 80px;
  width: 468px;
  height: 261px;
  background-image: url("../img/truck.png");
  background-repeat: no-repeat;
}

.guarantee-paragraph {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 80px;
  width: 100%;
  display: none;
}

.guarantee-paragraph::after {
  content: "";
  position: absolute;
  right: 0;
  top: 60px;
  width: 389px;
  height: 283px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
}

.credit-paragraph {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 80px;
  width: 100%;
  display: none;
}

.credit-paragraph::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50px;
  width: 465px;
  height: 285px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
}

.button-index-credit {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ff5357;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 44px;
  margin-right: auto;
  border-radius: 3px;
}

.button-index-credit:hover {
  background-color: #ca2c37;
}

.button-index-credit:active {
  background-color: #ba2732;
}

.button-index {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 40px 12px 41px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border: none;
  border-radius: 3px;
}

.button-index:hover {
  background-color: #ca2c37;
}

.button-index:active {
  background-color: #ba2732;
}

.index-about {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 83px;
}

.about-business {
  font-size: 13px;
  line-height: 24px;
  padding-right: 120px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.list-about {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}

.lines {
  margin-top: 20px;
  padding-left: 36px;
  position: relative;
}

.lines::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.company-contacts {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}

.map {
  margin-top: 36px;
  margin-bottom: 25px;
}

/*Подвал*/

.first-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.first-footer-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.first-footer-info {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  background-color: #ee3643;
  width: 138px;
  height: 23px;
  padding: 20px 41px 25px 41px;
  margin-bottom: 10px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-logo:hover {
  background-color: #ca2c37;
}

.footer-logo:active {
  background-color: #ba2732;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-address {
  margin-bottom: 0;
}

.footer-phone {
  margin-top: 0;
  text-decoration: none;
  color: #ffffff;
}

.first-footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-items-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-left: 5px;
  margin-top: 30px;

}

.list-items-footer a {
  color: #f1f5f7;
  text-decoration: none;
  padding-left: 60px;
}

.list-items-footer li {
  list-style: none;
}

.list-items-footer a:hover {
  text-decoration: underline;
}

.list-items-footer a:active {
  opacity: 0.5;
  color: #f1f5f7
}

.special {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 30px;
}

.special a {
  color: #ffd180;
  text-decoration: none;
  padding-left: 60px;
}

.special li {
  list-style: none;
}

.special a:hover {
  text-decoration: underline;
}

.special a:active {
  opacity: 0.5;
  color: #ffd180;
}

.second-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  display: flex;
  flex-direction: column;
  margin-top: 39px;
  margin-bottom: 35px;
}

.social {
  display: inline-block;
  vertical-align: top;
  width: 42px;
  height: 42px;
  margin-right: 3px;
  vertical-align: middle;
  background-color: #212a3a;
}

.social-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: 75px;
  width: 135px;
}

.social-items a {
  color: #ffffff;
  text-decoration: none;
}

.social-items li {
  list-style: none;
}

.social-items a:hover {
  background-color: #ee3643;
}

.social-vk {
  background-image: url("../img/icons-svg/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
}

.social-fb {
  background-image: url("../img/icons-svg/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
}

.social-insta {
  background-image: url("../img/icons-svg/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
}

.special-address {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.special-address a {
  color: #ffd180;
  text-decoration: none;
}

.special-address li {
  list-style: none;
}

.special-address a:hover {
  text-decoration: underline;
}

.special-address a:active {
  color: #ee3643;
}

.special-mail {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.special-mail a {
  color: #ffd180;
  text-decoration: none;
}

.special-mail li {
  list-style: none;
}

.special-mail a:hover {
  text-decoration: underline;
}

.special-mail a:active {
  color: #ee3643;
}

/*Каталог*/

.text-wrapper-inner {
  background-color: #f3f7f8;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.items {
  display: flex;
  padding-left: 0;
  position: relative;
  margin-top: 20px;
  margin-bottom: 19px;
}

.items a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.items li {
  list-style: none;
  text-transform: uppercase;
}

.items-icon-home::before {
  content: "";
  position: absolute;
  top: 5px;
  background-image: url("../img/icons-svg/icon-home.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 12px;
}

.items-icon-catalog {
  padding-left: 55px;
}

.items-icon-catalog::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 29px;
  background-image: url("../img/icons-svg/icon-right-small.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
}

.items-icon-tool {
  padding-left: 39px;
}

.items-icon-tool::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 124px;
  background-image: url("../img/icons-svg/icon-right-small.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
}

.items-icon-perforator {
  padding-left: 43px;
}

.items-icon-perforator::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 244px;
  background-image: url("../img/icons-svg/icon-right-small.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
}

.title-wrapper-catalog {
  background-color: #f4f7f9;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 28px;
}

.title-inner {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  display: flex;
}

.filter-section {
  display: flex;
  min-width: 220px;
}

.filter-title {
  display: flex;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #f7f3ec;
  padding: 14px 0px 15px 18px;
  text-transform: uppercase;
}

.price-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 14px;
}

.range {
  width: 220px;
}

.range-controls {
  position: relative;
  background-color: #f7f3ec;
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  box-sizing: border-box;
  padding-right: 24px;
  padding-left: 24px;
}

.range-controls .scale {
  width: 177px;
  height: 2px;
  background-color: lightgrey;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #50a07e;
}

.range-controls .toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 30px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-controls .toggle-min {
  left:20px;
}

.range-controls .toggle-max {
  left:160px;
}

.price-controls {
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 220px;
  margin-bottom: 24px;
}

.price-controls input {
  position: relative;
  width: 95px;
  height: 38px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  font-size: 17px;
  line-height: 18px;
}

.price-controls .max-price {
  position: relative;
  margin-left: 30px;
}

.price-controls .max-price::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  background-color:#444444;
  top: 50%;
  left: 0%;
  margin-left: -20px;
  margin-top: -1px;
}

.headline-brands {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  border-top: 1px solid #e5e5e5;
  padding-top: 16px;
}

.filter-option {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.filter-option li {
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  padding-bottom: 20px;
}

.filter-name {
  padding-bottom: 17px;
  margin-left: 35px;
  position: relative;
}

.headline-radio {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  border-top: 1px solid #e5e5e5;
  margin-top: 0px;
  padding-top: 20px;
}

.filter-radio {
  padding-bottom: 17px;
  margin-left: 35px;
  position: relative;
  text-transform: uppercase;
}

.radio {
  margin-right: 10px;
}

.radio-off-icon {
  position: absolute;
  top: -3px;
  left: -35px;
}

.radio-off-icon:hover path {
  fill: #b5b5b5;
}

.radio-on-icon {
  position: absolute;
  top: -3px;
  left: -35px;
  display: none;
}

.radio-on-icon:hover path {
  fill: #b5b5b5;
}

.radio:disabled ~ .radio-off-icon {
  opacity: 0.3;
}

.radio:disabled ~ .radio-on-icon {
  opacity: 0.3;
}

.radio:disabled ~ .battery {
  opacity: 0.4;
}

.radio:checked ~ .radio-on-icon {
  display: flex;
}

.checkbox {
  margin-right: 12px;
}

.checkbox-off-icon {
  position: absolute;
  top: -3px;
  left: -35px;
}

.checkbox-off-icon:hover path {
  fill: #b5b5b5;
}

.checkbox-on-icon {
  position: absolute;
  top: -3px;
  left: -35px;
  display: none;
}

.checkbox-on-icon:hover path {
  fill: #b5b5b5;
}

.checkbox:disabled ~ .checkbox-on-icon {
  opacity: 0.3;
}

.checkbox:disabled ~ .checkbox-off-icon {
  opacity: 0.3;
}

.checkbox:disabled ~ .brand-name {
  opacity: 0.4;
}

.checkbox:checked ~ .checkbox-on-icon {
  display: flex;
}

.btn {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  align-self: flex-start;
  margin-top: 54px;
  border: 1px solid #e5e5e5;
  padding: 10px 39px 10px 39px;
  outline: none;
  border-radius: 3px;
}

.btn:hover {
  border: 1px solid #bdc6ca;
}

.btn:active {
  border: 1px solid #ee3643;
}

.shopping-section {
  display: flex;
  flex-wrap: wrap;
}

.sorting {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-left: 21px;
  min-width: 700px;
}

.filter-price-option {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  min-height: 38px;
}

.filter-price-option li {
  list-style: none;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.18);
  border-bottom: 1px dotted #ee3643;
}

.options.active {
  color: #ee3643;
  border-bottom: none;
}

.type {
  margin-left: 70px;
}

.function {
  margin-left: 65px;
}

.filter-price-option .options:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.filter-price-option .options:focus {
  color: #ee3643;
  border-bottom: none;
}

.filter-sorting {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  min-height: 38px;
}

.filter-sorting li {
  list-style: none;
}

.up {
  position: relative;
  margin-left: 46px;
}

.up-icon {
  position: relative;
  opacity: 0.3;
}

.up-icon:hover {
  opacity: 1;
}

.up-icon.active path {
  fill: #ee3643;
}

.up-icon.active {
  opacity: 1;
}

.down {
  opacity: 0.3;
  margin-left: 21px;
  margin-right: 17px;
}

.down:hover {
  opacity: 1;
}

.perforator-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 21px;
  width: 700px;
}

.perforator-items a {
  text-decoration: none;
}

.perforator-items li {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.perforator-item {
  border: 1px solid #e5e5e5;
  margin-bottom: 18px;
  padding-bottom: 21px;
  display: flex;
  position: relative;
}

.perforator-item:hover .perforator-item-img {
  opacity: 0;
}

.perforator-item:hover .buy-marker {
  display: flex;
}

.perforator-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.hover {
  opacity: 0;
}

.buy-marker-active {
  display: flex;
  position: absolute;
  background: #ffffff;
  flex-direction: column;
  width: 135px;
  top: 44px;
  left: 42px;
}

.page {
  display: flex;
}

.list {
  display: flex;
  padding: 0;
  margin-right: auto;
  margin-bottom: 70px;
  margin-left: 240px;
  margin-top: 33px;
}

.list li {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
  margin-right: 6px;
}

.list-group a {
  color: #000000;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  padding: 10px 15px 12px 17px;
  border-radius: 3px;
}

.list-group:hover a {
  border: 1px solid #bdc6ca;
}

.list-group:active a {
  border: 1px solid #ee3643;
}

.list-group.active a {
  background-color: #ee3643;
  color: #ffffff;
}

.list-group-next a {
  color: #000000;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  padding: 10px 32px 12px 32px;
  border-radius: 3px;
}

.list-group-next:hover a {
  border: 1px solid #bdc6ca;
}

.list-group-next:active a {
  border: 1px solid #ee3643;
}

.text-wrapper-perforator {
  background-color: #f3f7f8;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 60px;
}

.about-perforator-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.about-perforator-paragraph {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 24px;
}

/*Модалки*/

.write-to-us {
  display: flex;
  flex-direction: column;
  width: 620px;
  border-top: 7px solid #ee3643;
}

.popup-titles-wrap {
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  margin-left: 81px;
  margin-right: 80px;
}

.close-button {
  background-image: url("../img/icons-svg/icon-close.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 6px;
  right: -71px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  outline: none;
}

.popup-name-email {
  display: flex;
}

.popup-title-name {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex-grow: 1;
}

.popup-title-email {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.popup-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}

.popup-input {
  font-size: 13px;
  line-height: 18px;
  padding-top: 14px;
  padding-left: 16px;
  padding-bottom: 15px;
  border: 2px solid #d7dcde;
}

.popup-input::placeholder {
  color: #a9a9a9;
}

.popup-input:hover {
  border: 2px solid #b5b5b5;
  outline: none;
}

.popup-input:focus {
  border: 2px solid #ee3643;
  outline: none;
}

.popup-textarea {
  font-size: 13px;
  line-height: 18px;
  padding-top: 14px;
  padding-left: 16px;
  resize: none;
  outline: none;
  border: 2px solid #d7dcde;
}

.popup-textarea::placeholder {
  color: #a9a9a9;
}

.popup-textarea:hover {
  border: 2px solid #b5b5b5;
}

.popup-textarea:focus {
  border: 2px solid #ee3643;
}

.popup-button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  color: #ffffff;
  padding: 14px 199px;
  text-transform: uppercase;
  font-weight: 400;
  outline: none;
  border: none;
}

.popup-button:hover {
  background-color: #ca2c37;
}

.popup-button:focus {
  background-color: #ba2732;
}

.popup-button-background {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 37px 80px;
}

.add-to-cart {
  display: flex;
  flex-direction: column;
  width: 620px;
  border-top: 7px solid #ee3643;
}

.popup-header {
  display: flex;
  position: relative;
  margin-left: 81px;
  margin-top: 48px;
  margin-bottom: 49px;
}

.close-button-add {
  background-image: url("../img/icons-svg/icon-close.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -34px;
  right: 9px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  outline: none;
}

.popup-add-title {
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin-left: 85px;
}

.popup-add-title::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -85px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icons-svg/icon-mark.svg");
  background-repeat: no-repeat;
}

.popup-button-buy {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  padding: 14px 62px 14px 59px;
  text-decoration: none;
  border: none;
}

.popup-button-buy:hover {
  background-color: #ca2c37;
}

.popup-button-buy:focus {
  background-color: #ba2732;
}

.popup-button-continue {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  padding: 14px 48px 12px 44px;
  text-decoration: none;
  border: none;
}

.map-popup {
  position: relative;
}

.close-map-button {
  background-image: url("../img/icons-svg/icon-close.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  right: 510px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  outline: none;
}
